body{
    background-color: #FFFFFF;
    color: #666666;
}

header {
    background-color: #002171;
    color: #FFFFFF;
}

nav {
    background-color: #BBDEFB;
}

h1{
    margin-bottom: 0;
}

h2 {
    color: #1976D2;
}

dt {
    color: #002171;
}

.resort {
    color: #1976D2;
}
/* first Change */